<!DOCTYPE html>
<html>
    <head>
        <title>Payment Success</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: #f0f0f0;
            }

            h1 {
                color: #4CAF50;
            }

            p {
                margin-bottom: 50px;
            }

            #backButton {
                padding: 10px 20px;
                color: white;
                background-color: #4CAF50;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

            #backButton:hover {
                background-color: #45a049;
            }
        </style>
    </head>
    <body>
        <h1>Payment Successful!</h1>
        <p>Your payment was processed successfully. Thank you for your purchase!</p>
        <button id="backButton">Back</button>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();

            // Emit event when the page is about to be closed
            window.onbeforeunload = function() {
                socket.emit('payment-res', 'success');
            };

            // Emit event and close the page when the "Back" button is clicked
            document.getElementById('backButton').onclick = function() {
                socket.emit('payment-res', 'success');
                window.close();
            };
        </script>
    </body>
</html>